In [1]:
import pandas as pd

In [2]:
dict_df = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}

In [3]:
df = pd.DataFrame(dict_df)

In [12]:
dict_df = [ [1, 2, 3], [4, 5, 6], [7, 8, 9] ]
df = pd.DataFrame(dict_df, columns = ['omg', 'idk', 'lmao'])

In [13]:
df

   omg  idk  lmao
0    1    2     3
1    4    5     6
2    7    8     9