In [56]:
A = '\dsweet'
print('A: ',A)

A:  \dsweet

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
/var/folders/25/rlbty0wj62qgtp38sml170rr0000gn/T/ipykernel_1836/3321144505.py:1: SyntaxWarning: invalid escape sequence '\d'
  A = '\dsweet'

In [62]:
import re
text = "lovePython!"
# print(re.sub('\s', '\t', text))
print(re.search(r"\W",text))

<re.Match object; span=(10, 11), match='!'>

In [12]:
import json
# Python dictionary
data = {
    "name": "John Doe",
    "age": 30,
    "city": ["New York", "California"]
}

In [13]:
json_obj = json.dumps(data)

In [ ]:
json.loads(json_obj)

{'name': 'John Doe', 'age': 30, 'city': ['New York', 'California']}

In [23]:
with open('data.json','w') as f:
  json.dump(data, f)

In [24]:
with open('data.json', 'r') as f:
  loaded_data = json.load(f)

In [25]:
type(loaded_data)

dict

In [1]:
a = 'Apple'
a[0]

'A'

In [3]:
b = [1, 2, 3]

In [4]:
b[0] = 2

In [5]:
b

[2, 2, 3]

In [5]:
n = 5
# dp_temp = [False] * n
dp = [[False] * n for i in range(n)]
dp

[[False, False, False, False, False],
 [False, False, False, False, False],
 [False, False, False, False, False],
 [False, False, False, False, False],
 [False, False, False, False, False]]

In [ ]:
for i in range(0,0):
    print(i)

In [1]:
nums = [1, 2, 3]
res = []
res.append(nums)
nums[0] = 99  # Modify nums after appending
print(res)    # Output: [[99, 2, 3]]

[[99, 2, 3]]

In [1]:
import collections
q = collections.deque()

In [2]:
q.append(1)

In [4]:
q.append([2,3])

In [6]:
len(q)

2

In [49]:
import requests
import pandas as pd

def decode_message(url):
    # Fetch the data from the URL
    df = pd.read_html(url)
    df = df[0]
    # Take the 0th row as the header
    df.columns = df.iloc[0]
    df = df[1:]  # Drop the original header row
    # Reset the index for cleaner presentation
    df.reset_index(drop=True, inplace=True)
    df["Character"] = df["Character"].apply(lambda x: x.encode('latin1').decode('utf-8'))
    # Parse the coordinates and characters
    positions = []
    tuples_list = list(zip(df["x-coordinate"], df["Character"], df["y-coordinate"]))
    positions = positions + tuples_list
    # Find the dimensions of the grid
    max_x = max(pos[0] for pos in positions)
    max_y = max(pos[1] for pos in positions)

    # Initialize the grid with spaces
    grid = [[" " for _ in range(max_x + 1)] for _ in range(max_y + 1)]

    # Populate the grid with characters
    for x, y, char in positions:
        grid[y][x] = char

    # Print the grid
    for row in grid:
        print("".join(row))
# URL_TO_THE_GOOGLE_DOC = "https://w3schools.com/python/demopage.htm"
URL_TO_THE_GOOGLE_DOC = "https://docs.google.com/document/d/e/2PACX-1vRMx5YQlZNa3ra8dYYxmv-QIQ3YJe8tbI3kqcuC7lQiZm-CSEznKfN_HYNSpoXcZIV3Y_O3YoUB1ecq/pub"
# Example usage
decode_message(URL_TO_THE_GOOGLE_DOC)

TypeError: can only concatenate str (not "int") to str

In [48]:
[] + [(1,2,3),(4,5,6)]

[(1, 2, 3), (4, 5, 6)]

In [1]:
pip install requests

Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (2.32.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (2024.7.4)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import requests

In [6]:
response = requests.get('https://docs.google.com/document/d/e/2PACX-1vSHesOf9hv2sPOntssYrEdubmMQm8lwjfwv6NPjjmIRYs_FOYXtqrYgjh85jBUebK9swPXh_a5TJ5Kl/pub')

In [2]:
import pandas as pd

In [15]:
type(response.text)

str

In [3]:
df = pd.read_html("https://docs.google.com/document/d/e/2PACX-1vSHesOf9hv2sPOntssYrEdubmMQm8lwjfwv6NPjjmIRYs_FOYXtqrYgjh85jBUebK9swPXh_a5TJ5Kl/pub")

In [ ]:
df = df[0]
# Take the 0th row as the header
df.columns = df.iloc[0]
df = df[1:]  # Drop the original header row
# Reset the index for cleaner presentation
df.reset_index(drop=True, inplace=True)

In [39]:
df

0   x-coordinate Character y-coordinate
0             87       â            3
1             23       â            2
2             61       â            4
3              2       â            1
4             65       â            4
..           ...       ...          ...
327           21       â            1
328           71       â            2
329           69       â            2
330            1       â            2
331           27       â            0

[332 rows x 3 columns]

In [40]:
df["Character"] = df["Character"].apply(lambda x: x.encode('latin1').decode('utf-8'))

/var/folders/25/rlbty0wj62qgtp38sml170rr0000gn/T/ipykernel_9678/2697902823.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Character"] = df["Character"].apply(lambda x: x.encode('latin1').decode('utf-8'))

In [46]:
df

0   x-coordinate Character y-coordinate
0             87         █            3
1             23         ░            2
2             61         █            4
3              2         ░            1
4             65         █            4
..           ...       ...          ...
327           21         █            1
328           71         ░            2
329           69         █            2
330            1         █            2
331           27         █            0

[332 rows x 3 columns]

In [28]:
misinterpreted_text = df[0].iloc[1][1]
fixed_text = misinterpreted_text.encode('latin1').decode('utf-8')
print("fixed_text:",fixed_text)

fixed_text: █

In [5]:
a = 8
print("a:",id(a))
b = a
print("b:",id(b))
a = -12
print("a:",id(a))
print("b:",id(b))

a: 4334412616
b: 4334412616
a: 4392510160
b: 4334412616

a: -12
b: 8

In [1]:
a = set([3,2,3,4,3])
a

{2, 3, 4}

In [9]:
list_a = [[4,5],[2,3],[6,7],[-1,0]]
def sort_asc(intervals):
    for i in range(len(intervals)-1):
        for j in range(len(intervals)-i-1):
            if intervals[j][0] > intervals[j+1][0]:
                temp = intervals[j]
                intervals[j] = intervals[j+1]
                intervals[j+1] = temp
    return intervals     
sort_asc(list_a)

[[-1, 0], [2, 3], [4, 5], [6, 7]]

In [7]:
list_a

[[2, 3], [1, 5], [6, 7]]

In [5]:
list_a = [[4,5],[2,3],[6,1],[2,2],[-1,7],[4,3]]
list_a.sort()

In [6]:
list_a

[[-1, 7], [2, 2], [2, 3], [4, 3], [4, 5], [6, 1]]

In [19]:
intervals = [[1,2],[3,5],[9,10],[2,5]]

In [20]:
intervals.sort(key=lambda x:x[0])

In [21]:
intervals

[[1, 2], [2, 5], [3, 5], [9, 10]]

In [12]:
from collections import deque
from typing import List

In [7]:
from collections import deque
dq = deque([1, 2, 3, 4])

In [2]:
a = set()

In [8]:
dq.pop()

4

In [9]:
dq

deque([1, 2, 3])

In [6]:
a.add((2,3))
a.add((3,3))
a.add((4,3))
a.add((2,3))
a

{(2, 3), (3, 3), (4, 3)}

In [6]:
s = "abcdcBa"
s = s.lower()
print("s:",s)

s: abcdcba

In [13]:
nums = [2,20,4,10,3,4,5]
nums = list(set(nums))
nums.sort()
ct_lst = []
ct = 0
for i in range(len(nums)):
    ct += 1
    # print("nums[i+1]:",nums[i+1])
    # print("nums[i]+1:",nums[i]+1) 
    if i < len(nums)-1:
        if nums[i+1] != (nums[i] + 1):
            ct_lst.append(ct)
            # print('ct:',ct)
            ct = 0
    elif i == len(nums)-1 and nums[i-1] != (nums[i] - 1):
        ct_lst.append(ct)
        


print("ct_lst:", ct_lst)
print("nums:", nums)

ct_lst: [4, 1, 1]
nums: [2, 3, 4, 5, 10, 20]

In [15]:
# a = 22
# str(a)
int("3")
str_co = "abcd"
str_co[4]

IndexError: string index out of range

In [ ]:
strs = ["neet","code","love","you"]
str_comb = ""
for s in strs:
    len_s = len(s)                
    str_comb = str_comb + "".join([str(len_s),"#",s])
    # print("str_comb",str_comb)
print("str_comb:", str_comb)    

dcd_lst = []
while str_comb:
    s_len = ""
    while str_comb[0] != "#":
        s_len = s_len + str_comb[0]
        print("s_len:",s_len)
        str_comb = str_comb[1:]
    str_ind = str_comb[1:int(s_len)+1]    
    dcd_lst.append(str_ind)
    print("dcd_lst:",dcd_lst)
    if len(str_comb) == int(s_len)+1:
        break
    else:
        str_comb = str_comb[int(s_len)+1:]
        print("str_comb:",str_comb)

# str_comb

str_comb: 4#neet4#code4#love3#you
s_len: 4
dcd_lst: ['neet']
str_comb: 4#code4#love3#you
s_len: 4
dcd_lst: ['neet', 'code']
str_comb: 4#love3#you
s_len: 4
dcd_lst: ['neet', 'code', 'love']
str_comb: 3#you
s_len: 3
dcd_lst: ['neet', 'code', 'love', 'you']

'#you'

In [8]:
from collections import defaultdict
d = defaultdict(list)
d["a"] = 1
d["b"] = 2
d["c"]

[]

In [12]:
nums = [6,3,7,8,2,10]
for i in range(len(nums)-1,0,-1):
        for j in range(i):
            if nums[j] < nums[j+1]:
                temp = nums[j]
                nums[j] = nums[j+1]
                nums[j+1] = temp
nums

[10, 8, 7, 6, 3, 2]

In [15]:
freq = [[],[2]]
for num in freq[1]:
    print("num", num)

num 2

In [6]:
A = set()
A.add(1)
A.add(2)
A

{1, 2}

In [4]:
[5] * (5)

[5, 5, 5, 5, 5]

In [3]:
dic = {0:1, 1:3}
if 1 in dic:
    print("True")
else:
    print("False")

True

In [7]:
class ListNode:
    def __init__(self, val=0, next=None):
        self.val = val
        self.next = next

# Create an object
node1 = ListNode(1)
print(node1.val)  
# Assign node1 to node2 (both now point to the same object in memory)
node2 = node1

# Modify node2
node2.val = 100

# Check the values
print(node1.val)  # Output: 100 (changes in node2 are reflected in node1)
print(node2.val)  # Output: 100

1
100
100

In [5]:
G = 1
print("G: ", G, "id of G: ", id(G))
F = G
print("G: ", G, "id of G: ", id(G))
print("F: ", F, "id of F: ", id(F))
G = 2
print("F: ", F, "id of F: ", id(F))
print("G: ", G, "id of G: ", id(G))

G:  1 id of G:  4347437672
G:  1 id of G:  4347437672
F:  1 id of F:  4347437672
F:  1 id of F:  4347437672
G:  2 id of G:  4347437704

In [8]:
stack = "d"
print(not stack)

False

In [10]:
my_dict = {'d': 'a', 'b': 2, 'c': 3}

if 'a' in my_dict:
    print("Key 'a' is in the dictionary.")
else:
    print("Key 'a' is not in the dictionary.")

Key 'a' is not in the dictionary.

In [2]:
dict_key_int = {1:10, 2:20, 3:30}
dict_key_int[1]

10

In [3]:
dict_key_int[2]

20

In [2]:
len("neefft")

6

In [4]:
type(int("4"))

int

In [ ]:
nums = [1,2,3,4]

In [5]:
A = "abcd\romg"
print(A)

omgd

In [3]:
print(None and 2)

None

In [5]:
list1 = [1,2] 
list2 = None
list1 or list2

[1, 2]

In [4]:
ct = {"A": 2,"B": 5,"C":10 ,"D": 4}
ct.values()

dict_values([2, 5, 10, 4])

In [2]:
"A" == "A"

True